b:includable#comments-blogger(var='post')
  b:if(cond='data:post.commentSource == 1')
    b:include(data='post' name='iframe_comments')/
  <b:else/>
    b:include(data='post' name='comment_picker')/
  </b:if>

b:includable#comments-disqus(var='post')
  div#disqus_thread/
  script.
    var disqus_shortname = "<data:skin.vars.config_dq_shortname/>",
      disqus_config = function(){
        this.page.url = "<data:view.url.canonical/>";
        this.page.title = "<data:view.title.escaped/>";
      };
    //<![CDATA[
      (function() {
        var d = document, s = d.createElement('script');
        s.async = true;
        s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    //]]>